---
# vim: set ts=2 et sw=2 ft=yaml tw=0
workflow:
  rules:
  # Never run merge request pipelines
  - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    when: never
  # Only run on git.aspn.us
  - if: $CI_SERVER_HOST == "git.aspn.us"

variables:
  GIT_CLEAN_FLAGS: -xdffe packagecache
  GLOBAL_MESON_FLAGS: --warnlevel 3 -Dwerror=true -Dbuildtype=release
  MAX_CPU_COUNT: 20
  # Set this variable if you want to pass env vars to meson
  #GLOBAL_MESON_ENV: CXXFLAGS=-Whatever
  DOCKER_BUILDKIT: 1
  # Specify a GIT_EDITOR so that the git merge doesn't result in the error:
  # Terminal is dumb, but EDITOR unset
  GIT_EDITOR: cat

.before_script_common: &before_script_common |
  set -xe
  if [ "$GIT_STRATEGY" = "none" ]; then
    excludes="-e packagecache"
    echo "Emergency clean mode!"
    docker run --rm -iv "$(pwd)":/work alpine sh -c "apk add --no-cache git && git -C /work clean -xdff $excludes && chown -R $(id -ru).$(id -rg) /work"
    test -e .git || git clone "$CI_REPOSITORY_URL" .
    git remote set-url origin "$CI_REPOSITORY_URL"
    git fetch
  fi
  export GIT_COMMITTER_NAME="$(git log -1 --pretty=%cn)"
  export GIT_COMMITTER_EMAIL="$(git log -1 --pretty=%ce)"
  export GIT_AUTHOR_NAME="$(git log -1 --pretty=%an)"
  export GIT_AUTHOR_EMAIL="$(git log -1 --pretty=%ae)"
  git reset --hard "$CI_COMMIT_SHA"
  case "$CI_COMMIT_BRANCH" in
    monthly-snapshot*) CI_DEFAULT_BRANCH=rcnext ;;
    rcnext*) CI_DEFAULT_BRANCH=release ;;
    release) CI_DEFAULT_BRANCH="" ;;
  esac
  if [ -z "${TARGET_BRANCH:=$CI_DEFAULT_BRANCH}" ]; then
    echo "Auto-merge disabled."
  elif ! git pull --no-rebase origin $TARGET_BRANCH; then
    git merge --abort || true
    git reset --hard "$CI_COMMIT_SHA"
    UNABLE_TO_MERGE=yes
  fi
  sed -i_ "s!git@git.aspn.us:!$(echo "$CI_REPOSITORY_URL" | cut -d/ -f1-3)/!" subprojects/*.wrap
  { set +x ; } &> /dev/null

  if [ ! -d "$HOME/.ccache" ]; then
      mkdir "$HOME/.ccache"
  fi

default:
  retry: 1 # (1 retry maximum, up to 2 runs in total)
  interruptible: true
  before_script: &before_script
  - *before_script_common
  - docker pull "$BASE_IMG" || true
  - export BASE_IMG_NAME="$(echo $BASE_IMG | awk -F ":" '{print $1}')"
  - export BASE_IMG_TAG="$(echo $BASE_IMG | awk -F ":" '{print $2}')"
  - export LOCAL_REGISTRY_CACHE_TAG="$LOCAL_REGISTRY_CACHE/navtk-$BASE_IMG_NAME:$(echo -n $(cat docker/$DOCKERFILE)$BASE_IMG_TAG | sha256sum | awk '{printf $1}')"
  - docker_build() { docker build "$@" --build-arg BUILDKIT_INLINE_CACHE=1 --cache-from $LOCAL_REGISTRY_CACHE_TAG --tag $LOCAL_REGISTRY_CACHE_TAG --build-arg BASE=$BASE_IMG -f docker/$DOCKERFILE docker ; }
  - docker_build
  - docker push $LOCAL_REGISTRY_CACHE_TAG
  - export IMG="$(docker_build -q)"
  - in_docker() { docker run -i --cap-add SYS_PTRACE --security-opt label=disable -v $(pwd):/work -v "$HOME"/.ccache:/home/docker/.ccache -e BUILDDIR="$BUILDDIR" -e MESON_TESTTHREADS=1 $DOCKER_RUN_ARGS --rm "$IMG" "$@"; return "$?"; }

stages:
- docker
- check
- test
- packaging



# OS-specific settings
.noble: &noble
  variables: &noble_vars
    DOCKERFILE: Dockerfile.ubuntu
    MESON_FLAGS: -Db_sanitize=address,undefined
    BUILDDIR: navtoolkit-noble
    BASE_IMG: ubuntu:24.04

.jammy: &jammy
  variables: &jammy_vars
    DOCKERFILE: Dockerfile.ubuntu
    MESON_FLAGS: -Db_sanitize=address,undefined
    BUILDDIR: navtoolkit-jammy
    BASE_IMG: ubuntu:22.04

.focal: &focal
  variables: &focal_vars
    <<: *noble_vars
    BUILDDIR: navtoolkit-focal
    BASE_IMG: ubuntu:20.04

# ASAN is buggy on this cross-compiler
.armv7: &armv7
  variables: &armv7_vars
    <<: *focal_vars
    DOCKERFILE: Dockerfile.ubuntu-cross
    MESON_FLAGS: --cross-file=cross/armhf-linux.cross
    BUILDDIR: navtoolkit-armv7
  only:
    - master
    - /armdebug/

.arm64: &arm64
  variables:
    <<: *focal_vars
    DOCKERFILE: Dockerfile.ubuntu-cross
    MESON_FLAGS: --cross-file=cross/arm64-linux.cross -Db_sanitize=address,undefined -Dtest_timeout=1200
    BUILDDIR: navtoolkit-arm64
    # The memory leak detector is unsupported for ARM64
    DOCKER_RUN_ARGS: -e ASAN_OPTIONS=detect_leaks=false

.wine: &wine
  variables:
    <<: *focal_vars
    DOCKERFILE: Dockerfile.ubuntu-cross
    # ASAN is unsupported for cross-compiling Windows binaries
    # Python is not currently supported when cross-compiling for Windows
    MESON_FLAGS: --cross-file=cross/x64-win.cross -Dpython_bindings=false -Dtest_timeout=360 -Dlcm_examples=disabled -Dfirehose-outputs:aspn-cpp-xtensor-py=disabled
    BUILDDIR: navtoolkit-wine

.fedora: &fedora
  variables: &fedora_vars
    MESON_FLAGS: -Db_sanitize=address,undefined
    BUILDDIR: navtoolkit-fedora
    BASE_IMG: fedora:39
    DOCKERFILE: Dockerfile.fedora

.fedora_clang: &fedora_clang
  variables:
    <<: *fedora_vars
    # Using Clang and ASAN requires b_lundef=false to work around shared object
    # problems https://github.com/mesonbuild/meson/issues/764
    MESON_FLAGS: -Db_sanitize=address,undefined -Db_lundef=false
    BUILDDIR: navtoolkit-clang
    # TODO (PNTOS-361) Get -Wnewline-eof working. Currently disabled because of an issue with spdlog
    # GLOBAL_MESON_ENV: CXXFLAGS='-Wnewline-eof'
    GLOBAL_MESON_ENV: CXX='ccache clang++' CC='ccache clang'

# Stage-specific settings
.docker: &docker
  tags: [linux-light-runner]
  stage: docker
  script: ["true"]  # before-script builds docker container for us
  needs: []

.setup_script: &setup_script
  - set -xe
  - rm -rf "$BUILDDIR"
  - in_docker "$GLOBAL_MESON_ENV meson setup $BUILDDIR $GLOBAL_MESON_FLAGS $MESON_FLAGS"

.check: &check
  <<: *noble
  tags: [linux-light-runner]
  needs: [noble docker]
  stage: check
  before_script:
  - *before_script
  - *setup_script

.test: &test
  stage: test
  tags: [linux-heavy-runner]
  needs: [noble docker]
  script: &test_script
  - *setup_script
  - in_docker "ninja -C $BUILDDIR"
  - in_docker "ninja -C $BUILDDIR tests"
  artifacts:
    when: on_failure
    paths:
    - $BUILDDIR/meson-logs/

.cross: &cross
  <<: *test


# Docker jobs

jammy docker:
  <<: *jammy
  <<: *docker

noble docker:
  <<: *noble
  <<: *docker

cross build docker:
  <<: *arm64
  <<: *docker

fedora docker:
  <<: *fedora
  <<: *docker


# Check jobs
C++ format check:
  <<: *check
  script:
  - in_docker "ninja -C $BUILDDIR format"
  # Undo wrap file modifications that may have been done in before_script_common
  - git checkout -- $(git ls-files | grep 'subprojects/.*\.wrap')
  - git diff --exit-code

Python black format check:
  <<: *check
  script:
  - in_docker "ninja -C $BUILDDIR format_py"
  - git checkout -- subprojects/*.wrap
  - git diff --exit-code

Python flake8 check:
  <<: *check
  script:
  - in_docker 'flake8 src test util docs examples optional'

naming rules check:
  <<: *check
  script:
  - in_docker 'bash -eo pipefail -c "./util/check_naming.py | sort -u"'

documentation check:
  <<: *check
  needs: [noble docker]
  variables:
    <<: *noble_vars
    inside: |
      set -xe;
      ./docs/check_documentation.py;
      ninja -C "$BUILDDIR" docs
      status=0
      linkchecker -r 3 "$BUILDDIR"/docs/index.html || status=1
      # Fail the build when any "doxygenfunction" raw commands leak into the output, which indicates the exhale
      # overloads bug (PNTOS-273) has been triggered. The offending code must use
      # #ifndef NEED_DOXYGEN_EXHALE_WORKAROUND to hide one or more overloads from the documentation pipeline.
      grep -Fr doxygenfunction: "$BUILDDIR"/docs/api-exhale && status=1
      grep -Fr '.. doxygenfunction::' "$BUILDDIR"/docs/_sources | cut -d: -f2- | perl -ne 'print if $$x{$$_}++' | grep . && status=1
      exit $$status
  script:
  - in_docker 'echo "$1" | tee /dev/stderr | bash -' -- "$inside"
  artifacts:
    expose_as: "documentation"
    paths:
    - navtoolkit-noble/docs/index.html  # must be first, expose_as links to the first entry
    - navtoolkit-noble/docs  # ..but all the other files *also* need to be in the archive

# for this link check, the --ignore-urls for schema and readthedocs
# were implemented because the associated urls are baked into the rtd
# template but triggered redirects
external link check:
  <<: *check
  needs: [documentation check]
  allow_failure: true
  variables:
    <<: *noble_vars
    inside: |
      linkchecker "$BUILDDIR"/docs/index.html --check-extern -r 3 --ignore-url=RobotoSlab --ignore-url=py-modindex --ignore-url=sphinx-doc --ignore-url=http://schema.org/Article --ignore-url=https://about.readthedocs.com?ref=readthedocs.org --ignore-url=https://readthedocs.org
  before_script:
  - *before_script
  script:
  - in_docker 'echo "$1" | tee /dev/stderr | bash -' -- "$inside"


merge check:
  <<: *check
  needs: []
  retry: 0
  allow_failure: true
  before_script:
  - *before_script_common
  script:
  - git reset --hard
  - echo Attempting to merge with "${TARGET_BRANCH:-$CI_DEFAULT_BRANCH}"
  - git merge origin/"${TARGET_BRANCH:-$CI_DEFAULT_BRANCH}"

copyright year check:
  <<: *check
  needs: []
  retry: 0
  before_script:
  - *before_script_common
  script:
  - (! grep --color -i "copyright.*$(( $(date +%Y) - 1 ))" $(git ls-files))

# Test jobs

armv7 test:
  <<: *armv7
  <<: *cross
  needs: [cross build docker]
  artifacts:
    when: always
    reports:
      junit: navtoolkit-armv7/meson-logs/testlog.junit.xml

arm64 test:
  <<: *arm64
  <<: *cross
  needs: [cross build docker]
  artifacts:
    when: always
    reports:
      junit: navtoolkit-arm64/meson-logs/testlog.junit.xml

wine test:
  <<: *wine
  <<: *cross
  needs: [cross build docker]
  artifacts:
    when: always
    reports:
      junit: navtoolkit-wine/meson-logs/testlog.junit.xml

jammy test:
  <<: *jammy
  <<: *test
  artifacts:
    when: always
    reports:
      junit: navtoolkit-jammy/meson-logs/testlog.junit.xml

noble test:
  <<: *noble
  <<: *test
  needs: [noble docker]
  artifacts:
    when: always
    reports:
      junit: navtoolkit-noble/meson-logs/testlog.junit.xml

debug test:
  <<: *noble
  <<: *test
  variables:
    DOCKERFILE: Dockerfile.ubuntu
    GLOBAL_MESON_FLAGS: --warnlevel 3 -Dwerror=true
    BUILDDIR: navtoolkit-noble
    BASE_IMG: ubuntu:24.04
  needs: [noble docker]
  artifacts:
    when: always
    reports:
      junit: navtoolkit-noble/meson-logs/testlog.junit.xml

fedora test:
  <<: *fedora
  <<: *test
  needs: [fedora docker]
  artifacts:
    when: always
    reports:
      junit: navtoolkit-fedora/meson-logs/testlog.junit.xml

clang test:
  <<: *fedora_clang
  <<: *test
  needs: [fedora docker]
  artifacts:
    when: always
    reports:
      junit: navtoolkit-clang/meson-logs/testlog.junit.xml

pip install:
  <<: *noble
  stage: test
  tags: [linux-heavy-runner]
  needs: [noble docker]
  script:
  - *setup_script
  - in_docker "pip install -v . ; python3 -c 'from navtk.filtering import StandardFusionEngine; StandardFusionEngine().get_time()'"

mac test:
  stage: test
  needs: []
  tags: [macos]
  before_script:
  - *before_script_common
  allow_failure: true
  script:
    # Gitlab runner doesn't benefit from environment setup by homebrew, so set manually.
  - export PATH="/opt/homebrew/bin:/opt/homebrew/sbin:$PATH"

    # Setup venv and install pip dependencies
  - python3 -m venv .venv --system-site-packages
  - source .venv/bin/activate
  - pip3 install -r docker/requirements.txt

    # Using Clang and ASAN requires b_lundef=false to work around shared object
    # problems https://github.com/mesonbuild/meson/issues/764
  - meson setup build -Db_sanitize=address,undefined -Db_lundef=false -Dpython_docstrings=false $GLOBAL_MESON_FLAGS
  - ninja -C build
  - ASAN_OPTIONS=detect_leaks=false ninja -C build tests
  artifacts:
    when: always
    reports:
      junit: build/meson-logs/testlog.junit.xml

# Uses "curl" to invoke a Gitlab api call that triggers the instantiation of a
# continuous integration pipeline, in order to initiate a workflow to
# package this software at the present commit.
#
# Gitlab has a per-repository "pipeline triggers" functionality. This uses that.
# See: https://docs.gitlab.com/ee/ci/triggers/README.html
trigger navtoolkit_packaging:
  stage: packaging
  tags: [linux-light-runner]
  before_script: []
  needs: []
  only:
  - master
  script: |
   # Set NAVTK_PACKAGING_TRIGGER_TOKEN to the trigger token value returned by the Gitlab UI
   if test -z "${NAVTK_PACKAGING_TRIGGER_TOKEN}"; then
     echo 1>&2 "Not triggering navtoolkit_packaging: needed environmental variable NAVTK_PACKAGING_TRIGGER_TOKEN is not set."
   # Set NAVTK_PACKAGING_PROJECT_ID to the integer Gitlab project identifier of the destination project
   elif test -z "${NAVTK_PACKAGING_PROJECT_ID}"; then
     echo 1>&2 "Not triggering navtoolkit_packaging: needed environmental variable NAVTK_PACKAGING_PROJECT_ID is not set."
   # Set NAVTK_PACKAGING_TRIGGER_BRANCH to the desired branch on that project whose gitlab-ci.yml is intended to be instantiated into a pipeline.
   elif test -z "${NAVTK_PACKAGING_TRIGGER_BRANCH}"; then
     echo 1>&2 "Not triggering navtoolkit_packaging: needed environmental variable NAVTK_PACKAGING_TRIGGER_BRANCH is not set."
   else
     curl -X POST -F token="${NAVTK_PACKAGING_TRIGGER_TOKEN}" -F ref="${NAVTK_PACKAGING_TRIGGER_BRANCH}" "${CI_API_V4_URL}/projects/${NAVTK_PACKAGING_PROJECT_ID}/trigger/pipeline"
   fi

pages:
  stage: packaging
  tags: [linux-light-runner]
  before_script: []
  script:
  - rm -rf public
  - mkdir -p public
  - cp -r navtoolkit-noble/docs/* public
  needs:
  - documentation check
  only:
  - master
  artifacts:
    paths:
    - public

build wheels:
  stage: packaging
  tags:
    - linux-heavy-runner
  only:
  - main
  parallel:
    matrix:
      - PYTHON: [cp39-cp39,
                 cp310-cp310,
                 cp311-cp311,
                 cp312-cp312,
                 cp313-cp313]
        MANYLINUX: [quay.io/pypa/manylinux_2_28_x86_64,
                    quay.io/pypa/manylinux_2_28_aarch64]
  before_script:
  - *before_script_common
  script:
    - set x
    - docker pull ${MANYLINUX}
    - docker run --rm -itd -w /work --name manylinux -v $(pwd):/work ${MANYLINUX} bash
    - docker exec manylinux bash -c "yum install openblas-devel -y"
    # Build wheel
    - docker exec manylinux bash -c "/opt/python/"$PYTHON"/bin/pip wheel . -v"
    # Audit wheel (and repair if necessary)
    - docker exec manylinux bash -c "auditwheel repair navtk*.whl"
    # Test installing wheel and importing module
    - docker exec manylinux bash -c "/opt/python/"$PYTHON"/bin/pip install navtk -f ."
    - docker exec manylinux bash -c "/opt/python/"$PYTHON"/bin/python -c 'import navtk'"
    # Publish
    - docker exec manylinux bash -c "/opt/python/cp310-cp310/bin/pip install twine"
    - export REPO_URL=${CI_API_V4_URL}/projects/94/packages/pypi
    - docker exec manylinux bash -c "/opt/python/cp310-cp310/bin/python -m twine upload
                                    --repository-url ${REPO_URL}
                                    --username gitlab-ci-token
                                    --password ${CI_JOB_TOKEN}
                                    --skip-existing
                                    wheelhouse/navtk*"

build source distribution:
  <<: *noble
  stage: packaging
  tags: [linux-light-runner]
  only:
  - main
  script:
  - *setup_script
  - in_docker "python -m build --sdist"
  - in_docker "python -m twine upload
                --repository-url ${CI_API_V4_URL}/projects/94/packages/pypi
                --username gitlab-ci-token
                --password ${CI_JOB_TOKEN}
                --skip-existing
                dist/*.tar.gz"

build macos wheels:
  stage: packaging
  tags:
    - macos
  only:
  - main
  before_script:
  - *before_script_common
  parallel:
    matrix:
      - PYTHON: [python3.9,
                 python3.10,
                 python3.11,
                 python3.12,
                 python3.13]
  script:
    # Gitlab runner doesn't benefit from environment setup by homebrew, so set manually.
    - export PATH="/opt/homebrew/bin:/opt/homebrew/sbin:$PATH"
    - set x
    - ${PYTHON} -m venv .venv
    - source .venv/bin/activate
    # Build wheel
    - pip wheel . -v
    # Test installing wheel and importing module
    - pip install navtk*.whl
    - python -c 'import navtk'
    # Publish
    - pip install twine
    - export REPO_URL=${CI_API_V4_URL}/projects/94/packages/pypi
    - twine upload
        --repository-url ${REPO_URL}
        --username gitlab-ci-token
        --password ${CI_JOB_TOKEN}
        --skip-existing
        navtk*.whl
