name: Check

on: [push, pull_request]

jobs:
    Format:
        runs-on: ubuntu-24.04
        steps:
        - uses: actions/checkout@v4

        - name: Set up
          uses: ./.github/actions/setup
          with:
            firehose-outputs-ssh-key: ${{ secrets.FIREHOSE_OUTPUTS_SSH_KEY }}
            navigation-data-ssh-key: ${{ secrets.NAVIGATION_DATA_SSH_KEY }}

        - name: Run formatters
          run: |
              set -xe
              docker/docker_interface.py format
              git diff --exit-code

    flake8:
        runs-on: ubuntu-24.04
        steps:
        - uses: actions/checkout@v4

        - name: Set up
          uses: ./.github/actions/setup
          with:
            firehose-outputs-ssh-key: ${{ secrets.FIREHOSE_OUTPUTS_SSH_KEY }}
            navigation-data-ssh-key: ${{ secrets.NAVIGATION_DATA_SSH_KEY }}

        - name: Run flake8
          run: docker/docker_interface.py flake8

    copyright-year:
        runs-on: ubuntu-24.04
        steps:
        - uses: actions/checkout@v4

        - name: Check copyright year
          run: (! grep --color -i "copyright.*$(( $(date +%Y) - 1 ))" $(git ls-files))
